name: Build and Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: self-hosted

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2


      - name: Check if Docker Registry Secret Exists
        run: |
          secret_exists=$(kubectl get secret regcred --ignore-not-found | wc -l)
          if [ "$secret_exists" -eq "0" ]; then
            echo "Docker Registry Secret does not exist. Creating it..."
            kubectl create secret docker-registry regcred \
              --docker-server=https://index.docker.io/v1/ \
              --docker-username="${{ secrets.env.DOCKER_USERNAME }}"" \
              --docker-password="${{ secrets.env.DOCKER_PASSWORD }}"
          else
            echo "Docker Registry Secret already exists. Skipping creation."
          fi

      - name: Deploy Kaniko Pod
        run: kubectl apply -f kaniko-pod.yaml

      - name: Wait for Kaniko Pod to complete
        run: kubectl wait --for=condition=complete pod/kaniko

      - name: Print Kaniko Pod logs
        run: kubectl logs pod/kaniko

      # Add any additional steps you need, such as deploying your application using the built image.
