name: Build and Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: self-hosted

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      # - name: Set up Kubectl
      #   uses: azure/setup-kubectl@v1
      #   with:
      #     kubeconfig: ${{ secrets.KUBE_CONFIG }}

      - name: Verify Kubernetes API Server URL
        run: kubectl cluster-info


      - name: Create Docker Registry Secret
        run: |
          kubectl create secret docker-registry regcred \
            --docker-server=https://index.docker.io/v1/ \
            --docker-username=iamgovindthakur \
            --docker-password=${{ secrets.DOCKER_PASSWORD }}

      - name: Echo Docker Registry Secrets
        run: |
          echo "DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}"

      - name: Deploy Kaniko Pod
        run: kubectl apply -f kaniko-pod.yaml

      - name: Wait for Kaniko Pod to complete
        run: kubectl wait --for=condition=complete pod/kaniko

      - name: Print Kaniko Pod logs
        run: kubectl logs pod/kaniko

      # Add any additional steps you need, such as deploying your application using the built image.
