name: Kaniko Build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: self-hosted

    container:
      image: gcr.io/kaniko-project/executor:latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Build Docker Image
        run: |
          /kaniko/executor \
            --context $GITHUB_WORKSPACE \
            --dockerfile $GITHUB_WORKSPACE/Dockerfile \
            --destination your-registry/your-repository:your-tag
        env:
          GITHUB_WORKSPACE: ${{ github.workspace }}
          DOCKER_BUILDKIT: 1
          DOCKER_CLI_JSON: 1

      # Sleep to keep the container running
      - name: Sleep to keep the container running
        run: sleep infinity
